@font-face {
    font-family: "Tmon";
    font-style: "normal";
    font-style: normal;   
    src: url("./Font/Tmon.ttf") format("truetype"),
    url("./Font/Tmon.woff") format("woff"),
    url("./Font/Tmon.woff2") format("woff2");
}
@font-face {
    font-family: "Dovemayo_gothic";
    font-style: "normal";      
    font-style: normal;   
    src: url("../Font/Dovemayo_gothic.ttf") format("truetype"),
    url("../Font/Dovemayo_gothic.woff") format("woff"),
    url("../Font/Dovemayo_gothic.woff2") format("woff2");
}

* {
    font-family: 'Dovemayo_gothic';
}